* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background: #5192f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.bottle {
  width: 175px;
  height: 350px;
  border: 3px solid #1545f8;
  border-radius: 0 0 45px 45px;
  background: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mini {
  max-width: 70px;
  width: 100%;
  height: 120px;
  border-radius: 0 0 15px 15px;
}

.half-empty {
  width: 100%;
  height: 50%;
  background: transparent;
}

.half-fit {
  width: 100%;
  height: 50%;
  background: #91e5f8;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
}

.glasses-container {
  max-width: 456px;
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.glasses-container p {
  font-size: 20px;
}