* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #a323e5; */
}

.img:nth-child(1) {
    background-image: url('https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');

}
.img:nth-child(2) {
    background: url('https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') ;
}
.img:nth-child(3) {
    background: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80') ;
}
.img:nth-child(4) {
    background: url('https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80') ;
}
.img:nth-child(5) {
    background: url('https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') ;
}

.img {
    position: relative;
    width: 100px;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 0 5px 0 5px;
    border-radius: 80px 80px;
    transition: .5s linear;
}

.img-text {
    position: absolute;
    color: #fff;
    left: 30px;
    bottom: 30px;
    opacity: 0;
    transition: .5s linear;
}

.select {
    width: 100%;
}
.select .img-text {
    opacity: 1;
}
