@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Days One', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #8483ff;
    display: grid;
    place-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.card {
    max-width: 900px;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(5, 5, 5, 0.6);
    padding: 50px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.card-title {
    color: #858585;
    font-size: 23px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
}

.card-content {
    display: flex;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
}

.card-button{
    outline: 0;
    border: 0;
    font-size: 18px;
    width: 230px;
    height: 50px;
    border-radius: 12px;
    background: #a454e7;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(54, 54, 54, 0.6);
}

.card-button:active {
    transform: scale(0.96);
}
