* {
    margin: 0;
}

body {
    position: relative;
}

.fondo {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondo::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #cef0fb;
}
.fondo::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    background: #34a5f2;
}

.container {
    position: relative;
    z-index: 5;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(25, 25, 25, 0.4);
    background: #fff;
    transition: .9s linear;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.show-list {
    width: 280px;
}

.container-button {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.line-up {
    /* position: absolute; */
    width: 20px;
    height: 4px;
    background: #34a5f2;
    /* transform: rotate(45deg); */
}

.rotate-up {
    position: absolute;
    transform: rotate(45deg);
}
.rotate-down {
    transform: rotate(-45deg);
}

.girar-up {
    animation: girar .9s infinite linear;
}
.girar-down {
    animation: girarI .9s infinite linear;
}

.line-down {
    width: 20px;
    height: 4px;
    background: #34a5f2;
    /* transform: rotate(-45deg); */
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes girarI {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}



.list {
    position: absolute;
    padding-right: 40px;
    list-style: none;
    width: 100%;
    padding: 0;
    left: 100%;
    transition: .5s linear;
    display: flex;
    width: 100%;
    opacity: 0;
    transition: 0.8s linear;
}

.hidden {
    left: 0;
    opacity: 1;
}

.list-link {
    text-decoration: none;
    padding: 10px;
}

.girarY {
    animation: openList 1s linear;
}

@keyframes openList {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}