@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #a04dda;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.sound-container {
    background: #871dda;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 70px;
    color: #f1f1f1;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    transition: .3s ease-in;
}

.sound-container:hover {
    background: #b513f2;
}